<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
			body {
				background-image: url('{{ asset('img/background.jpg') }}');
				background-size: cover;
			}
		</style>

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
